html,body {
    background: url("../images/birdbg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;  /*For WebKit*/
    -moz-background-size: cover;     /*Mozilla*/
    -o-background-size: cover;       /*Opera*/
    background-size: cover;          /*Generic*/
}
* {
    /* needed to make header fit to edge of top of screen */
    margin:0px;
    padding:0px;
}

@font-face {
    font-family: FiraSansOT;
    src: url('FiraSansOT-Regular.otf');
}

/****************************************/
/* Initial settings */
/****************************************/
/* hide the other categories in the left side menu
    so that we only show providers for Web, our default category */
[data-category="news"],
[data-category="food"],
[data-category="local"],
[data-category="apps"]
 {
    display: none;
}

/****************************************/
/* header layout w/ search category buttons */
/****************************************/
#header {
    /* keep header stick to the top & float over other elements */
    position:fixed;
    top:0;
    z-index:10;

    background: #353F48;
    height: 45px;
    width: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
}

#firefox_logo {
    margin: 4px;
    margin-left: 14px;
}

#search-category {
    float:left;
    margin-left: 8px;
}

#search-category label {
    float:left;
    width:80px;
    height: 45px;
}

#search-category label span {
    display:block; /* maintain nice block spacing for the category "buttons" at top */
    color: #F1F1F1;
    font-family: FiraSansOT;
    text-align:center; /* center text in "buttons" */
    font-size: 14px;
    line-height: 33px;
}

#search-category label input {
    /* hide the radio buttons offscreen */
    position:absolute;
    top:-20px;
}

/* search category button - default state */
#search-category .search-category-button {
    margin-top: 10px; /* this is to force the orange underline down to be even with the header bottom */
    margin-bottom: 0;
}

/* search category button - selected */
#search-category input:checked + span {
    border-bottom: 2px solid orange;
}

/****************************************/
/* search input and suggestions         */
/****************************************/

#fifi-find-box {
    float:left;
    margin-top: 6px;
    margin-left: 6px;
}

#fifi-find { /*the input element for the search bar at top*/
    /*-webkit-appearance: none;*/
    /*font-size: 24px;*/
    float:left;
    height: 30px;
    width: 400px;

    color: #424F5A;
    /*background-position: 0px 0px;*/
    background-color: #f5f5f5;
    border: 1px solid #E1E1E1;

    /*padding: 0 110px 0 82px;*/
    padding-left: 13px;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#fifi-find:focus {
    background-color: #FCFCFC;
    border: 1px solid #E1E1E1;
}

.submitButton input {
    /*float:left;*/
    background:url("../images/magGlassBG.png") no-repeat;
    width: 47px;
    height: 30px;
    border: none;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    margin-left: 4px;
    margin-top: 7px;

    /*background: #E66000;*/
}

/*input[type=submit] {*/
    /*background: url('../images/magnifyGlassWhite.png') no-repeat;*/
    /*float:left;*/

    /*border:none;*/
    /*border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*-webkit-border-radius: 3px;*/


    /*width: 45px;*/
    /*height: 33px;*/

    /*margin-left: 4px;*/

    /*background: #E66000;*/
    /*font-size: 22px;*/
    /*color: white;*/
    /*position: absolute;*/
    /*top: 30px;*/
    /*right:67px;*/
    /*z-index: 99;*/
    /*margin: 3px 3px 0 0;*/
/*}*/

/*input[type=submit]:active {*/
    /*-webkit-appearance: none;*/
    /*background: #EB9111;*/
/*}*/

/****************************************/
/* suggestions                          */
/****************************************/
#suggestions {
    margin: 0 20px;
    padding-top: 54px;
    width: 100%;
    height: 75px;
}

.suggestions,
.suggestions-secondary {
    background-color: #fff;
    margin: 0 auto;
    width: 505px;
}

.suggestions-secondary .secondary.term span {
    color: #888;
}

.suggestions .primary, .suggestions-secondary .secondary {
    font-family: FiraSansOT;
    position: relative;
    min-width: 76px;
    height: 36px;
    display: block;
    float: left;
    padding: 18px 20px 0 20px;
    margin: 0 10px 16px 10px;
    border-radius: 5px;
    /*background: #FBFAF9;*/
    border: 1px solid #D4DDE4;
    background-color: white;
}

.suggestions .primary span,
.suggestions-secondary .secondary span {
    color: #444;
    overflow: hidden;
    padding: 5px;
    font-size: 22px;
    line-height: 23px;
}


/****************************************/
/* cards layout                         */
/****************************************/
#grid-wrapper {
    width: 90%;
    max-width: 1200px;
    min-width: 300px;
    margin: 50px auto;
    margin-left: 80px;

    display: -webkit-box;
    display: -moz-box;
    display: flex;

    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    justify-content: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    /*end centering tricks*/
}

#columns {
    margin-top: 20px;
    /*-webkit-column-count: 3;*/
    -webkit-column-gap: 30px;
    -webkit-column-fill: auto;
    /*-moz-column-count: 3;*/
    -moz-column-gap: 30px;
    /*-moz-column-fill: auto;*/
    column-count: 3;
    column-gap: 30px;
    column-fill: auto;
}

.card {
    position: relative;
    font-family: FiraSansOT;
    background-color: white;

    width: 250px;
    height: 150px;

    display: inline-block;
    border: 1px solid #D4DDE4;
    border-radius: 5px;

    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 10px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 10px;
    padding-bottom: 5px;
    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.card p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

.card img {
    /*padding-bottom: 10px;*/
    /*margin-bottom: 5px;*/
    margin-right: 4px;
}

.big-card {
    position: relative;
    font-family: FiraSansOT;
    background: #FFFFFF;

    width: 250px;

    display: inline-block;
    border: 1px solid #D4DDE4;
    border-radius: 5px;

    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 10px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 10px;
    padding-bottom: 5px;
    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.big-card p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}


/*.card-logo {*/
/*position: absolute;*/
/*top: 0px;*/
/*left: 0px;*/
/*width: 16px !important;*/
/*height: 16px !important;*/
/*}*/

@media (min-width: 320px) {
    #columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
/*
@media (min-width: 768px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
} */

@media (min-width: 768px) {
    #columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1270px) {
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

/****************************************/
/* wikipedia infobox                    */
/****************************************/
.infobox {
    /*position: absolute;*/
    border: 1px solid #aaa;
    background-color: white;
    /*background-color: #f9f9f9;*/
    color: black;
    /*margin: 0.5em 0 0.5em 1em;*/
    padding: 0.2em;
    text-align: left;
    font-size: 60%;
    line-height: 1.5em;
    /*TODO figure out a better way to get the width from the wikipedia infobox table. The width is
    set in em, but after we append it to the div we're not getting the effect of it being set on the table*/
    width: 275px !important;

    table-layout: fixed; /* force width on wiki card */
    width: 120px;
}

.wikipedia-info-card {
    display: inline-block;
    font-family: FiraSansOT;
    /*background: #FEFEFE;*/
    /*background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);*/
    /*border: 2px solid #FAFAFA;*/
    /*box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);*/
    margin: 0 2px 10px;
    width: 275px !important;

    /* centering using flexbox b/c lord knows i tried all the usual margin and text-align tricks
and span, label and input aren't digging it*/
    display: -webkit-box;
    display: -moz-box;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    /*end centering tricks*/

    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;

    padding: 10px;
    padding-bottom: 5px;

    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.infobox-wiki-icon {
    position: relative;
    top: 0px;
    left: 0px;
    /*padding-bottom: 10px;*/
    /*margin-bottom: 5px;*/
}


/****************************************/
/* left menu                            */
/****************************************/

.leftSlideMenu {
    /*background: #47a3da;*/
    position: fixed;
    font-family: FiraSansOT;
}

/*.leftSlideMenu h3 {*/
    /*color: #afdefa;*/
    /*font-size: 1.9em;*/
    /*padding: 20px;*/
    /*margin: 0;*/
    /*font-weight: 300;*/
    /*background: #0d77b6;*/
/*}*/

.leftSlideMenu a {
    display: block;
    font-size: 1.1em;
    font-weight: 300;
}

/*.leftSlideMenu a:hover {*/
    /*background: #258ecd;*/
/*}*/

/*.leftSlideMenu a:active {*/
    /*background: #afdefa;*/
    /*color: #47a3da;*/
/*}*/

.leftSlideMenu-vertical {
    width: 120px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.leftSlideMenu-vertical img {
    border-bottom: 1px solid #D4DDE4;
    padding: 1em;
    width: 45px;
}

/* Vertical menu that slides from the left */

.menu-left {
    left: -120px;
}

.menu-left.left-menu-open {
    left: 0px;
}

/* Transitions */

.leftSlideMenu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* desaturate the image */
/*img.providerInactive {*/
    /*-webkit-filter: grayscale(100%);*/
    /*-moz-filter: grayscale(100%);*/
    /*filter: grayscale(100%);*/
/*}*/

/*img.providerInactive {*/
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); *//* Firefox 10+ */
    /*filter: gray; *//* IE6-9 */
    /*-webkit-filter: grayscale(100%); *//* Chrome 19+ & Safari 6+ */
    /*-webkit-transition: all .6s ease; *//* Fade to color for Chrome and Safari */
    /*-webkit-backface-visibility: hidden; *//* Fix for transition flickering */
/*}*/

/*img.blur {*/
    /*width:45; height:45px; */
    /*-webkit-filter: blur(1px);*/
    /*-moz-filter: blur(1px);*/
    /*-o-filter: blur(1px);*/
    /*-ms-filter: blur(1px);*/
    /*filter: blur(1px);*/
/*}*/



/****************************************/
/* Slide Out Left Menu */
/****************************************/
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 50px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#navigation li {
    width: 80px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 80px;
    height: 60px;
    background-color:#424F59;
    background-repeat:no-repeat;
    background-position:center center;
    /*border:1px solid #353F48;*/

    /*border-radius:0px 10px 10px 0px;*/
    /*-webkit-border-bottom-right-radius: 10px;*/
    /*-webkit-border-top-right-radius: 10px;*/
    /*-moz-box-shadow: 0px 4px 3px #000;*/
    /*-webkit-box-shadow: 0px 4px 3px #000;*/
    /*opacity: 0.6;*/
}

/* bing side tab */
ul#navigation li a {
    /* centering using flexbox b/c lord knows i tried all the usual margin and text-align tricks
    and span, label and input aren't digging it*/
    display: -webkit-box;
    display: -moz-box;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    /*end centering tricks*/
}

/* Bing tabs */
ul#navigation [data-provider="bing.com"] .providerActive {
    background: #F4BD27;
}

ul#navigation [data-provider="bing.com"] img {
    margin-top: 12px;
    width: 36px;
    height: 36px;
}

ul#navigation [data-provider="bing.com"] input {
    margin-top: 26px;
    margin-left: 8px;
    margin-right: -2px;
}

/* Bing News tabs */
ul#navigation [data-provider="bing.news"] .providerActive {
    background: #F4BD27;
}

ul#navigation [data-provider="bing.news"] img {
    margin-top: 12px;
    width: 36px;
    height: 36px;
}

ul#navigation [data-provider="bing.news"] input {
    margin-top: 26px;
    margin-left: 8px;
    margin-right: -2px;
}

/* Twitter tabs */
ul#navigation [data-provider="twitter.com"] .providerActive {
    background: #5E9FCA;
}

ul#navigation [data-provider="twitter.com"] img {
    margin-top: 14px;
    margin-left: 4px;
    width: 36px;
    height: 36px;
}

ul#navigation [data-provider="twitter.com"] input {
    margin-top: 26px;
    margin-left: 4px;
}


/* Boxfish tabs */
ul#navigation [data-provider="boxfish.com"] .providerActive {
    background: #007401;
}

ul#navigation [data-provider="boxfish.com"] img {
    margin-top: 14px;
    margin-left: 4px;
    width: 36px;
    height: 36px;
}

ul#navigation [data-provider="boxfish.com"] input {
    margin-top: 26px;
    margin-left: 4px;
}

/* Wikipedia infobox tabs */
ul#navigation [data-provider="wikipedia.infobox"] .providerActive {
    background: #000000;
}

ul#navigation [data-provider="wikipedia.infobox"] img {
    margin-top: 14px;
    margin-left: 4px;
    width: 36px;
    height: 36px;
}

ul#navigation [data-provider="wikipedia.infobox"] input {
    margin-top: 26px;
    margin-left: 4px;
}

/* NPR tabs */
ul#navigation [data-provider="npr.org"] .providerActive {
    background: #3266cc;
}

ul#navigation [data-provider="npr.org"] img {
    margin-top: 14px;
    margin-left: 4px;
    width: 36px;
    height: 36px;
}

ul#navigation [data-provider="npr.org"] input {
    margin-top: 26px;
    margin-left: 4px;
}

/* guardian tabs */
ul#navigation [data-provider="guardian.com"] .providerActive {
    background: #00417B;
}

ul#navigation [data-provider="guardian.com"] img {
    margin-top: 14px;
    margin-left: 4px;
    width: 36px;
    height: 36px;
}

ul#navigation [data-provider="guardian.com"] input {
    margin-top: 26px;
    margin-left: 4px;
}

/* yelp tabs */
ul#navigation [data-provider="yelp.com"] .providerActive {
    background: #C02D19;
}

ul#navigation [data-provider="yelp.com"] img {
    margin-top: 14px;
    margin-left: 4px;
    width: 36px;
    height: 36px;
}

ul#navigation [data-provider="yelp.com"] input {
    margin-top: 26px;
    margin-left: 4px;
}



/* foursquare tabs */
ul#navigation [data-provider="foursquare.com"] .providerActive {
    background: #26B3CF;
}

ul#navigation [data-provider="foursquare.com"] img {
    margin-top: 14px;
    margin-left: 4px;
    width: 36px;
    height: 36px;
}

ul#navigation [data-provider="foursquare.com"] input {
    margin-top: 26px;
    margin-left: 4px;
}

/* firefox marketplace tabs */
ul#navigation [data-provider="firefox.marketplace"] .providerActive {
    background: #FF9500;
}

ul#navigation [data-provider="firefox.marketplace"] img {
    margin-top: 14px;
    margin-left: 4px;
    width: 36px;
    height: 36px;
}

ul#navigation [data-provider="firefox.marketplace"] input {
    margin-top: 26px;
    margin-left: 4px;
}





ul#navigation [data-category="add_providers"] a {
    background: #424F59;
}

ul#navigation [data-category="add_providers"] img {
        width: 30px;
        height: 30px;
        margin-top: 14px;
}


/****************************************/
/* Search Provider "store" */
/****************************************/

#lightbox {
    /*position:fixed; *//* keeps the lightbox window in the current viewport */
    margin: 0 auto;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.7);
    text-align:center;
}

#closeLightbox  {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
}

#lightbox-content {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}